*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Sharing style */
.btn{
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    color: rgb(230, 209, 172) ;
    background-color: #31df79;
    transition: all;
    cursor: pointer;
    transform: scale(1.1);

}





/* main section */
header{
    width: 65%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 0px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 127px;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
header nav ul a{
    text-decoration: none ;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    color: black;
}
header nav ul a:hover{
    color: rgb(0, 255, 115);
}


.hero-section{

    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0px 169px;
}
.hero-container{
    width: 65%;
    max-width: 1360px ;
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
}

.hero-container .Early-Access{
    font-size: 16px;
    color: #30b868;
    background-color: white;
    border-radius: 50px;
    padding: 12px 6px;
    margin-bottom: 16px;
}
.hero-container h1{
    font-size: 72px ;
    margin-bottom: 18px;

}
.hero-container h1 .first{
    color: white;
}
.hero-container h1 .last{
    color: #30B868;
}
.hero-container p{
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
.hero-container .btn-container{
    display: flex;
    gap: 16px;
    justify-content: center;
}

#card-section{
    width: 65%;
    max-width: 1360px;
    margin: 0 auto;
}
.card-container{
    /* border: 1px solid saddlebrown; */
    padding: 30px 0px 0px;
}

#card-section .section-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;

}
#card-section .section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}

#card-section .card-info-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
    margin-bottom: 120px;
}
#card-section .card-info-container .card{
     max-width: 322px;
     border-radius: 8px;
     box-shadow: 0px 0px 10px rgba(141, 128, 128, 0.555);
     padding: 69px 24px;
}
#card-section .card-info-container .card img{
    max-width: 60px;
    background-color: #F95555;
    margin-top: 70px;
    padding: 14px;
    border-radius: 50%;
}

#card-section .card-info-container .card h3{
    margin: 16px 0px;
    font-size: 24px;
    font-weight: 700;

}
#card-section .card-info-container .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


#second-brain {
    width: 65%;
    max-width: 1360px;
    margin: 0 auto;
    /* padding: 120px; */
    
}
#second-brain .second-brain-container{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}

#second-brain .second-brain-container .knowledge{
    max-width: 600px;
    border-radius: 12px;
}

#second-brain .second-brain-container .second-brain-items-container{
    max-width: 700px;
    padding: 102px 0px;
}
#second-brain .second-brain-container .second-brain-items-container span{
    font-size: 16px;
    font-weight: 300;
    color: #30B868;
    line-height: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

#second-brain .second-brain-container .second-brain-items-container h2{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    margin-bottom: 16px;
}

#second-brain .second-brain-container .second-brain-items-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

/* .line{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: left;
} */

.line{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.line img{
    max-width: 16px;
}
#second-brain .second-brain-container .second-brain-items-container .line p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin: 0;
}

.think-section{
    width: 65%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    border-radius: 12px;
}
.think-section .think-container{
    text-align: center;
    padding: 80px 40px;
    margin-bottom: 120px;

}
.think-section .think-container h2{
    font-size: 40px;
    font-weight: 900;
    color: black;
    margin-bottom: 16px;
}
.think-section .think-container p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}
.think-section .think-container button{
    margin-bottom: 16px;
}